useDynLib(FRESA.CAD)
exportPattern("^[[:alpha:]]+")
import(stringr,miscTools,Hmisc,pROC)
importFrom(Rcpp, evalCpp)
S3method(plot, bootstrapValidation)
S3method(plot, bootstrapValidationNeRI)
S3method(summary, bootstrapValidation)
S3method(update, uniRankVar)

