useDynLib(FRESA.CAD,.registration = TRUE)
export(backVarElimination_Bin)
export(backVarElimination_Res)
export(baggedModel)
export(bootstrapValidation_Bin)
export(bootstrapValidation_Res)
export(bootstrapVarElimination_Bin)
export(bootstrapVarElimination_Res)
export(crossValidationFeatureSelection_Bin)
export(crossValidationFeatureSelection_Res)
export(featureAdjustment)
export(ForwardSelection.Model.Bin)
export(ForwardSelection.Model.Res)
export(FRESA.Model)
export(getKNNpredictionFromFormula)
export(getSignature) 
export(getVar.Bin)
export(getVar.Res)
export(heatMaps)
export(improvedResiduals)
export(listTopCorrelatedVariables)
export(ensemblePredict) 
export(modelFitting)
export(plotModels.ROC)
export(predict.fitFRESA)
export(rankInverseNormalDataFrame)
export(reportEquivalentVariables)
export(residualForFRESA)
export(signatureDistance)
export(summaryReport)
export(uniRankVar)
export(univariateRankVariables)
export(updateModel.Bin)
export(updateModel.Res)
export(timeSerieAnalysis)
export(summary.fitFRESA)
export(BSWiMS.model)
export(nearestneighborimpute)
export(EmpiricalSurvDiff)

import(stringr,miscTools,Hmisc,pROC)
importFrom(Rcpp, evalCpp)
S3method(plot, bootstrapValidation_Bin)
S3method(plot, bootstrapValidation_Res)
S3method(summary, bootstrapValidation_Bin)
S3method(update, uniRankVar)
S3method(summary, fitFRESA)
S3method(predict, fitFRESA)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "barplot", "boxplot", "legend","lines", "par", "plot", "title")
importFrom("stats", "binom.test", "binomial", "coef", "cor.test","IQR",
     "ecdf", "formula", "ks.test", "lm", "model.frame",
     "model.matrix", "na.exclude", "na.omit", "pf", "pnorm",
     "predict", "qnorm", "quantile", "rnorm", "sd", "t.test",
     "terms", "wilcox.test", "glm", "median", "weighted.mean", 
	 "runif", "p.adjust", "lowess", "complete.cases","pchisq","qchisq")
importFrom("stats", "na.pass")
importFrom("stats", "density")
importFrom("graphics", "axis", "grconvertX", "grconvertY", "hist", "rect")
importFrom("graphics", "text")
importFrom("stats", "cor")
importFrom("utils", "install.packages")
importFrom("stats", "qt")
importFrom("utils", "hasName")

